* {
    box-sizing: border-box;
}

form {
    background-origin: border-box;
    background-color: #DCD6CD;
    width: 820px;
    height: 1000px;
    margin: auto;
    position: relative;
}

.top {
    float: top;
    height: 10%;
    width: 100%;
    padding: 2.5%;
}

.left {
    float: left;
    height: 45%;
    width: 50%;
    padding: 2.5%;
}

.left > :nth-child(1) {
    display: block;
    color: white;
    background: grey;
}

.left > :nth-child(2) {
    display: block;
}

.left > :nth-child(3) {
    display: inline-block;
}

.left > :nth-child(4) {
    display: inline-block;
}

.right {
    float: right;
    height: 45%;
    width: 50%;
    padding: 2.5%;
    display: block;
}

.right > :nth-child(1) {
    display: block;
    color: white;
    background: grey;
}




.bottom {
    position: absolute; bottom: 0;
    height: 45%;
    width: 100%;
    padding: 2.5%;
}