<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <link rel="stylesheet" th:href="@{style.css}" />
  <meta charset="utf-8" />
</head>
<body>

<h1 >List of accounts at Bank of Simba</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Balance</th>
    <th>Type of animal</th>
    <th>Is it a king?</th>
    <th>Good guy or bad guy?</th>
  </tr>

  <tr th:style="${account.isItAKing()} == true ? 'color: red'" th:each="account, iterstat: ${accounts}" >
    <td th:text="${iterstat.count}" />
    <td th:text="${account.name}" />
    <td th:text="${#numbers.formatDecimal(account.balance, 0, 2)} + ' Zebra'"></td>
    <td th:text="${account.animalType}" />
    <td th:text="${account.isItAKing()}"/>
    <td th:text="${account.isGoodGuy()}"/>
  </tr>
</table>
</body>
</html>