html {
  text-align: center;
  margin: auto;
  background: url(tenor.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

table {
  margin:auto;
}

th, td {
  margin:auto;
  text-align: center;
  border: 2px solid skyblue;
  background-color: lightgrey;
}

h1 {
  text-align: center;
  font-size: 300%;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
  text-decoration: underline;
}