html {
  text-align: center;
  margin: auto;
}

table, tr {
  margin:auto;
  border: 2px solid black;
}

h1 {
  text-align: center;
  font-size: 300%;
  padding-right: 10%;
  padding-left: 10%;
  text-decoration: underline;
}