<!DOCTYPE html>
<html lang="en" xmlns:th="http:/thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Programmer Fox Club Information</title>
</head>
<body>
<ul>
  <li><a href="/">Information</a></li>
  <li><a href="/nutritionstore">Nutrition store</a></li>
  <li><a href="/trickcenter">Trick center</a></li>
</ul>
<img th:src="@{/greenfox.png}"/>
<p th:text="'This is ' + ${fox.getName()} + '. Currently living on ' + ${fox.getFood()} + ' and ' + ${fox.getDrink()} + '. He knows ' + ${fox.FoxSize()} + ' tricks.'">This if Mr. Fox. Currently living on pizza and lemonade. He knows 2 tricks.</p>
<h1>Known tricks</h1>
<div th:if="${fox.FoxSize() == 0}">
  <div th:text="'You know no tricks. Go and learn some!'"/>
</div>
<div th:unless="${fox.FoxSize() == 0}">
  <ul th:each="trick : ${fox.tricks}">
    <li th:text="${trick}"/>
  </ul>
</div>
</body>
</html>