p {
    width: 325px;
    height: 36px;
    border-left: 15px solid rgb(66,133,244);
    border-right: 15px solid rgb(66,133,244);
    padding: 48px 15px;
    margin: auto;
    text-align: center;
    font-size: 36px;
    color: white;
    font-family: Arial;
   }

p:nth-child(1) {
    background-color: rgb(230,118,118);
    border-top: 15px solid rgb(66,133,244);
}

p:nth-child(2) {
    background-color: rgb(230,118,118);
    border-bottom: 15px solid rgb(66,133,244);
    margin-bottom: 5px;
}

p:nth-child(3) {
    background-color: rgb(169,230,230);
    border-top: 15px solid rgb(66,133,244);
}

p:nth-child(4) {
    background-color: rgb(169,230,230);
    border-bottom: 15px solid rgb(66,133,244);
}