h1 {
    color: red;
}

h2 {
    color: #8A2BE2;
}

ul {
    list-style-type: square;
}

ol {
    color: #FF00FF;
    list-style-type: upper-roman;
    text-decoration-line: underline;
}

ol :last-child {
    color: black;
    text-decoration-line: none;
    text-decoration-color: black;
}

p {
    width: 360px;
    text-align: left;
}