<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <title>Add new todo</title>
</head>
<body>
<h1>Add new todo</h1>

<form action="/todo/submitForm" method="post">
  <input name="title"/>
  <input  type="text" name="duedate"
          th:value="${user.dateOfBirth}?${#dates.format(user.dateOfBirth, 'dd-MM-yyyy')}:''"
          placeholder="dd-mm-yyyy"  id="pickyDate"/>

  <!--<input type="date" name="duedate" />-->
  <button type="submit" value="Submit">Submit</button>
</form>

</body>
</html>