<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:text="'Edit ' + ${title}"></title>
</head>
<body>
<h1 th:text="'Edit ' + ${title}">Edit TODO</h1>

<form action="/todo/editToDo" th:object="${todo}" method="post">
  <input type="hidden" th:field="*{id}" />
  <input type="field" name="title" th:field="*{title}" />
  <br /> <input type="checkbox" name="urgent" th:checked="*{urgent}" th:text="Urgent" />
  <br /> <input type="checkbox" name="done" th:checked="*{done}" th:text="Done" />
  <br /> <button type="submit" value="Save">Submit</button>
</form>
<a th:href="@{/todo/}">Cancel</a>
</body>
</html>