<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title th:text="'Edit ' + ${edittodo.title}"></title>
</head>
<body>
<h1 th:text="'Edit ' + ${edittodo.title}">Edit TODO</h1>

<form action="/todo" th:object="${edittodo}" method="post">
  <input type="hidden" th:field="*{id}" />
  <!--<input th:field="*{isUrgent}" />
  <input th:field="*{isDone}" />-->
  <input  type="field" th:field="*{title}" />
  <input  type="checkbox" th:field="*{isDone}" />
  <input  type="checkbox" th:field="*{isUrgent}" />
  <button type="submit" value="Save">Save</button>
</form>

</body>
</html>